h2 {
    text-align: center;
}

.main-table {
    /* border-collapse: collapse; */
    margin: 20px;
}

.main-table td,
.main-table th {
    border: 1px solid #dddddd;
    padding: 8px;
}

.main-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.main-table tr:not(:first-child):hover td {
    border: 1px solid #dddddd;
}

/* Establecer un color con transparencia al hacer hover, excluyendo la primera fila */
.main-table tr:not(:first-child):hover {
    background-color: rgba(174, 183, 221, 0.3);
}


.bold-row {
    font-weight: bold;
    text-align: center;
}

.bold-row td,
.bold-row th {
    padding: 5px;
}